---
layout: default
---

<div class="home">
  <div class="home-header">
    <img src="/images/photos/central-park-3.jpg"/>
    <h1 class="home-header-title">Richard Coleman O'Beirne</h1>
    <div class="home-header-date">1948 – 2016</div>
  </div>

  <div class="home-bio">
    {% markdown bio.md %}
  </div>

  <div class="home-collection">
    <h2 class="home-collection-title">Books</h2>
    <div class="home-collection-items">
      {% for book in site.data.books %}
        <div class="citem book">
          <img src="/images/books/{{ book.cover }}"/>
          <div class="citem-info">
            <div class="citem-info-title">
              {{ book.title }}
              <span class="citem-info-title-year">
                ({{ book.year }})
              </span>
            </div>
            <div class="citem-info-author">
              {{ book.author }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="home-collection">
    <h2 class="home-collection-title">Movies</h2>
    <div class="home-collection-items">
      {% for movie in site.data.movies %}
        <div class="citem movie">
          <img src="/images/movies/280x420/{{ movie.cover }}"/>
          <div class="citem-info">
            <div class="citem-info-title">
              {{ movie.title }}
              <span class="citem-info-title-year">
                ({{ movie.year }})
              </span>
            </div>
            <div class="citem-info-description">
              {{ movie.desc }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


