#page {
  width: 100%;
  margin-top: 20px;
}
 
.content, .title {
  width: 50%;
  margin: 0 auto;
}
 
.title img {
  width: 350px;
}
 
.title {
  font-family: 'Vollkorn', serif;
  font-size: 32px;
  border-left: 2px solid #ccc;
  padding-left: 20px; 
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.title .name {
  margin-top: 10px;
  line-height: 100%;
}

.title .years {
  font-size: 18px;
  font-style: italic;
  color: #777;
}

.content {
  padding-left: 10px;
}

.section-header {
  font-family: 'Vollkorn', serif;
  font-size: 24px;
  border-left: 2px solid #ccc;
  padding-left: 20px; 
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content p {
  // font-family: 'Gentium Book Basic', serif;
  font-family: 'PT Serif', serif;
  line-height: 150%;
  font-size: 18px;
}

.grid {
  width: 100%;
}

.grid:after {
  content: ' ';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.grid-item {
  width: 140px;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.grid img {
  width: 100%;
  height: 200px;
}
